@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading {
    animation: spin 1s linear infinite;
    color: rgba(255, 255, 255, 0.284);
}

.current-cotainer {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
}

.current-cotainer img {
    width: 250px;
}

.location {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location h2 {
    font-weight: bold;
    font-size: 2.8125rem;
    color: #ddd;
}

.location h3 {
    font-weight: bold;
    font-size: 14px;
    color: #ddd;
}

.location h3:first-child {
    border-bottom: 0.0313rem solid #aeaeae80;
    padding-bottom: 8px;
}

.location h3 span {
    font-size: 14px;
    color: #ddd;
}

.location h3 span:last-child {
    color: #aeaeaeb4;
    font-weight: bold;
    font-size: 14px;
}

/* Responsividade para tablets */
@media only screen and (max-width: 600px) {

    .current-cotainer {
        padding: 1rem 2rem;
        box-shadow: 0 .25rem 1.875rem rgba(0, 0, 0, 0.1);
    }

    .location h2 {
        font-size: 30px;
    }

    .location h3 {
        font-size: 0.875rem;
    }

    .location h3 span {
        font-size: 0.875rem;
    }
}
