.search-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show {
    display: flex;
    gap: 1.5rem;
}

.search-form input {
    padding: .3rem 7rem .3rem .7rem;
    font-size: .8rem;
    background-color: transparent;
    border: .025rem solid #a8a8a8e7;
    border-radius: 6.25rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: #ddd;
    font-weight: 400;
    text-align: left!important;
}

.search-form button {
    padding: 0.3rem .9rem;
    font-size: 1rem;
    color: #ddd;
    border: .025rem solid #b7b6b6;
    background: rgba(255, 255, 255, 0.284);
    backdrop-filter: blur(6.5px);
    border-radius: 6.25rem;
    cursor: pointer;
    font-weight: bolder;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.search-form button:hover {
    background-color: #24242489;
    backdrop-filter: blur(6.5px);
    transition: .2s ease-in-out;
}

/* --------------------- */


.search-response {
    padding: 2rem 6rem;
}

button {
    cursor: pointer;
}

/* Responsividade para tablets */
@media only screen and (min-width: 600px) {
    .search-response {
        padding: 2rem 4rem;
    }

    .search-form input {
        padding: .1rem 5rem .1rem .5rem;
    }
    
}

/* Responsividade para celulares */
@media only screen and (max-width: 600px) {
    .search-response {
        padding: 2rem 1rem;
    }

    .show {
        gap: .875rem;
    }

    .search-form input {
        padding: .3rem 2rem .3rem .5rem;
    }

    .search-form button {
        padding: .3rem .7rem;
        font-size: 1rem;
    }
}