.forecast-container {
    display: flex !important;
    color: white;
    gap: 1.1rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .forecast-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem .5rem;
    border-radius: 10rem;
    background: rgba(255, 255, 255, 0.284);
    backdrop-filter: blur(0.4063rem);
  }
  
  p {
    text-align: left;
  }
  
  img {
    width: clamp(1.875rem, 10vw, 2.5rem);
    min-width: 1.875rem;
  }
  
  #degree {
    font-weight: bold;
    font-size: clamp(14px, 1vw, 14px);
  }
  
  #date {
    font-size: clamp(11px, 1vw, 14px);
    color: rgba(255, 255, 255, 0.49);
  }

  @media only screen and (max-width: 768px) {
    .forecast-container {
      gap: .5rem;
    }

    .forecast-day {
      padding: .8rem .3rem;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .forecast-container {
      gap: .5rem;
    }

    .forecast-day {
      padding: .8rem .3rem;
    }
  }